[submodule "site-lisp/sauron"]
	path = site-lisp/sauron
	url = https://github.com/djcb/sauron.git
[submodule "site-lisp/el-get"]
	path = site-lisp/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "site-lisp/pylookup"]
	path = site-lisp/pylookup
	url = https://github.com/tsgates/pylookup.git
[submodule "site-lisp/golden-ratio"]
	path = site-lisp/golden-ratio
	url = git://github.com/roman/golden-ratio.el.git
[submodule "site-lisp/emacs-powerline"]
	path = site-lisp/emacs-powerline
	url = git@github.com:jianingy/emacs-powerline.git
[submodule "site-lisp/arduino-mode"]
	path = site-lisp/arduino-mode
	url = git://github.com/bookest/arduino-mode.git
[submodule "site-lisp/color-theme-solarized"]
	path = site-lisp/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
