.RHistory
abbrev_defs
server/server
site-lisp/layout-restore/layout-restore.el
ede-projects.el
++xhg-log-edit
org-clock-save.el
.org-id-locations
tramp
*.*~
*.elc
*.dat
#*
.#*
*.orig
.git/*
log/*
url/*
site-lisp/cedet/*/*-script
site-lisp/cedet/*/*/*-script
init.el.before_ecb_*
elpa/*
el-get/*
backup-lisp/*
obsoleted-lisp/*
mail/*
eshell
.*
bookmarks
